@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
   
}
.parent_container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;  
}
.container_one{
    width: 100%;
 
}
/*NAVIGATION BAR */
.container_one nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: white;
    box-shadow: 1px 0px 4px black;
    height: 60px;
    
}
.img_container {
width: 20%;
}
.img_container img {
    width: 50px;
}
ul {
   /* flex: 0.7;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navlinks li {
margin: 0px 35px;
list-style: none;
}
.navlinks li .active{
    color: black;
    border: none;
    border-bottom: 2px solid black;
}
.navlinks li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.navlinks li a:hover{
    color: black;
    border: none;
    border-bottom: 2px solid black;
}
.btn_container button {
    margin: 30px;
    border: none;
    background-color: black;
    color: white;
    padding: 14px 40px;
    border-radius: 30px;
    border-radius: 30px;
    font-size: 16px;

}
.btn_container button:hover{
    flex: 0.7;
    display: flex;
    background: transparent;
    border: 2px solid black;
    color: black;

}

.all_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 80px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}
.all_img .box img{
    width: 100%;
    height: 400px;
}

.all_img .box h5{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 55%;
    padding: 10px 50px;
    color: white;
    max-width: 350px;
    line-height: 2.5rem;

}
.all_img .box .line{
    height: 8px;
    width: 100%;
    background-color: black;
    border-radius: 40px;
}
.tanker p{
margin: 40px 80px;
font-size: 16px;

}
.Search {
    margin: 40px 80px;
    position: relative;
    
}
.Search input{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: black solid 1px;
    padding: 20px;

}
.search_icon{
    position: absolute;
    top: 19%;
    left: 97%;
}

.img_main {
    margin: 40px 70px;
    overflow-x: hidden;

}
.img_main h2{
    font-weight: 600; 
    font-family: "Inter", sans-serif;

}
.container_box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.container_box .chan{
    padding: 5px;
    border: black solid 2px;
    border-radius: 20px;
    margin-right: 10px;
}
.container_box .chan img{
width: 280px;
height: 250px;
}
.box_item{
    padding: 2px;
    margin-top: 10px;
}
.box_item .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box_item .btn img{
    width: 15px;
    height: 15px;
    align-items: center;
    margin-right: 10px;
   
}
.box_item .btn button{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 15px;
   
}
